[submodule "hall-sensor-based-foc-dspic33ck256mp508-lvmc/library/library-motor"]
	path = hall-sensor-based-foc-dspic33ck256mp508-lvmc/library/library-motor
	url = https://github.com/microchip-pic-avr-solutions/library-motor
	branch = master
[submodule "hall-sensor-based-foc-dspic33ck256mp508-lvmc/library/library-x2cscope"]
	path = hall-sensor-based-foc-dspic33ck256mp508-lvmc/library/library-x2cscope
	url = https://github.com/microchip-pic-avr-solutions/library-x2cscope
	branch = master
